<div id="logout-form">
  <form action="/profile/logout" method="POST">
    <!-- Use GET method instead of POST for simplicity -->
    <h1>Hope to see you soon 😊</h1>
    <p>Click the button below to log out.</p>
    <button type="submit">Logout</button>
  </form>

  {{!-- Show error message if there is any --}}
  {{#if errorMessage}}
  <p>{{errorMessage}}</p>
  {{/if}}
</div>